  
.multicons_bg { padding-top: 30px;
    padding-bottom: 30px;
    background-image: url("images/multicons.png");
    background-size: 300px;
    background-blend-mode: color;
    background-color: #2a3180 !important;
}

.icons_shadow{
      background-color: #520599;
    padding: 10px;
    border-radius: 10px;
    text-shadow: 15px 5px 30px #000c;
}

